<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.biometriclogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    android:requestLegacyExternalStorage="true"
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="Digi Att"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiometricLogIn"
        tools:targetApi="31">
        <activity
            android:name=".Student_present"
            android:exported="false" />
        <activity
            android:name=".Dynamic_classes"
            android:exported="false" />
        <activity
            android:name=".DynamicClasses"
            android:exported="false" />
        <activity
            android:name=".AllAttendance"
            android:exported="false" />
        <activity
            android:name=".AttendaceList1"
            android:exported="false" />
        <activity
            android:name=".Classes"
            android:exported="false" />
        <activity
            android:name=".classes"
            android:exported="false" />
        <activity
            android:name=".ScanQRKotlin"
            android:exported="false" />
        <activity
            android:name=".update"
            android:exported="true" />
        <activity
            android:name=".AdminSide"
            android:exported="false" />
        <activity
            android:name=".admin_login"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".GeneratorForm"
            android:exported="false" />
        <activity
            android:name=".GenerateQRActivity"
            android:exported="false" />
        <activity
            android:name=".ScanQRActivity"
            android:exported="false" />
        <activity
            android:name=".Flashactivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".FlashActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <receiver android:name="MyBrodcastReceiver" >
        </receiver>
    </application>

</manifest>